@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Girassol&family=Oswald:wght@300&family=Roboto&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: aquamarine;
}
header section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header section h1 {
  font-size: 3rem;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-family: "Girassol", cursive;
}
header section ul {
  display: flex;
}
header section ul li {
  list-style-type: none;
}
header section ul li a {
  color: rgba(29, 28, 28, 0.808);
  font-size: 1.5rem;
  text-decoration: none;
  padding-left: 5vw;
  font-family: "Girassol", cursive;
}
header section ul li a:hover {
  color: red;
}

@media only screen and (min-width: 340px) and (max-width: 768px) {
  header {
    background-color: aquamarine;
  }
  header section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header section h1 {
    font-size: 3rem;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: "Girassol", cursive;
  }
  header section ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20vw;
    padding-bottom: 2vh;
  }
  header section ul li {
    list-style-type: none;
  }
  header section ul li a {
    color: rgba(29, 28, 28, 0.808);
    font-size: 1.5rem;
    text-decoration: none;
    font-family: "Girassol", cursive;
  }
}
main {
  background-image: linear-gradient(360deg, rgba(177, 255, 250, 0.5) 0%, #adecfa);
}
main .art1 {
  display: flex;
  padding-top: 7vh;
  padding-bottom: 1vh;
}
main .art1 .div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  padding-left: 2vw;
}
main .art1 .div1 h2 {
  font-family: "Girassol", cursive;
  font-size: 2rem;
  padding-bottom: 3vh;
}
main .art1 .div1 p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding-bottom: 2vh;
}
main .art1 .lista1 {
  padding-top: 3vh;
  padding-right: 5vw;
  width: 50vw;
}
main .art1 .lista1 li {
  list-style: square;
  font-size: 1rem;
}
main .art1 .lista1 li a {
  font-family: "Roboto", sans-serif;
}
main .cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 3vh;
}
main .cards article {
  position: relative;
  background: rgba(247, 247, 247, 0.781);
  width: 310px;
  margin: 2vh 0;
  text-align: center;
  border: 1px solid #070707;
}
main article div.bg-HeaderCard {
  padding: 1vh;
  width: 100%;
  height: 230px;
  border-radius: 0px;
  text-align: left;
  background: linear-gradient(360deg, aquamarine 0%, rgba(9, 218, 204, 0.5));
  background-size: cover;
}
main i {
  color: red;
  font-size: 1.5rem;
}

img.circlePic {
  position: absolute;
  left: calc(50% - 50px);
  top: 135px;
  width: 100px;
  border-radius: 40%;
}

.card1 {
  height: 32vh;
}
.card1 h4 {
  margin-top: 10vh;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Girassol", cursive;
}
.card1 p {
  font-size: 1rem;
  font-family: "Girassol", cursive;
  height: 18vh;
  text-align: left;
  margin: 1vh 1vw;
}

/************************ Estilos de galeria ******************************/
.galery {
  background-image: linear-gradient(360deg, rgba(177, 255, 250, 0.5) 0%, #adecfa);
  background-attachment: fixed;
}
.galery .titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-family: "Girassol", cursive;
  font-size: 2rem;
}
.galery .galeria {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1vh;
}
.galery .galeria__scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}
.galery .galeria__image {
  width: 100%;
  max-width: 300px;
  opacity: 50%;
}
.galery .galeria__image:hover {
  opacity: 100%;
}
.galery .galeria__grilla {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/************************ Estilos de area de trabajo ******************************/
.mapa .mapa1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh;
}
.mapa .mapa1 img {
  width: 100%;
  max-width: 600px;
}
.mapa .mapa1 p {
  font-family: "Girassol", cursive;
  font-size: 2rem;
}

/************************ Estilos de CONTACTO ******************************/
.sect2 .cont1 .col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8vh;
}
.sect2 .cont1 .col1 legend {
  padding-bottom: 3vh;
  padding-top: 6vh;
  font-family: "Girassol", cursive;
  font-size: 1.5rem;
}
.sect2 .cont1 .col1 textarea {
  border: 2px solid black;
  resize: none;
}
.sect2 .cont2 .col2 {
  display: flex;
  align-items: center;
  padding-bottom: 7vh;
  justify-content: center;
}
.sect2 .cont2 .col2 label {
  font-family: "Girassol", cursive;
  padding-left: 2vw;
  padding-right: 1vw;
}
.sect2 .col3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6vh;
}
.sect2 .col3 span {
  padding-left: 1vw;
  padding-right: 5vw;
  font-family: "Girassol", cursive;
}
.sect2 .col4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6vh;
}
.sect2 .col4 button {
  font: bold 1rem "Roboto", sans-serif;
  color: rgba(29, 28, 28, 0.808);
  margin-left: 1vw;
  padding: 1vh 1vw;
  border: 2px solid #333;
  border-radius: 5px;
  background: white;
}
.sect2 .col4 button:hover {
  color: red;
}

@media only screen and (min-width: 340px) and (max-width: 768px) {
  main {
    background-image: linear-gradient(360deg, rgba(177, 255, 250, 0.5) 0%, #adecfa);
    /************************ Estilos de CONTACTO MEDIA******************************/
    /************************ Estilos de galeria MediaQueries******************************/
    /************************ Estilos de area de trabajo MediaQueries ******************************/
  }
  main .sect1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .sect1 .art1 {
    display: flex;
    padding-top: 3vh;
    padding-bottom: 3vh;
    flex-direction: column;
    align-items: center;
  }
  main .sect1 .art1 .div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1vw;
    width: 340px;
  }
  main .sect1 .art1 .div1 h2 {
    font-family: "Girassol", cursive;
    font-size: 2rem;
    padding-bottom: 3vh;
  }
  main .sect1 .art1 .div1 p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    padding-bottom: 2vh;
  }
  main .sect1 .art1 .lista1 {
    padding-top: 3vh;
    padding-right: 5vw;
    width: 340px;
  }
  main .sect1 .art1 .lista1 li {
    list-style: square;
    font-size: 1rem;
  }
  main .sect1 .art1 .lista1 li a {
    font-family: "Roboto", sans-serif;
  }
  main .sect2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .sect2 .cont1 {
    max-width: 340px;
  }
  main .sect2 .cont1 .col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
    padding-left: 2vw;
  }
  main .sect2 .cont1 .col1 legend {
    padding-bottom: 2vh;
    padding-top: 3vh;
    font-family: "Girassol", cursive;
  }
  main .sect2 .cont1 .col1 textarea {
    border: 2px solid black;
    resize: none;
    max-width: 300px;
  }
  main .sect2 .cont2 .col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
    justify-content: center;
    margin: 0;
  }
  main .sect2 .cont2 .col2 label {
    font-family: "Girassol", cursive;
    padding-left: 2vw;
    padding-right: 1vw;
  }
  main .sect2 .col3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
  }
  main .sect2 .col3 span {
    padding-left: 1vw;
    padding-right: 5vw;
    font-family: "Girassol", cursive;
  }
  main .sect2 .col4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
  }
  main .sect2 .col4 button {
    padding: 1vh;
    font: bold 1rem "Roboto", sans-serif;
    border: 2px solid #333;
    border-radius: 5px;
    background: white;
  }
  main .galery .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 7vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: "Girassol", cursive;
    font-size: 2rem;
  }
  main .mapa .mapa1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
    max-width: 768px;
  }
  main .mapa .mapa1 img {
    width: 100%;
    max-width: 340px;
  }
}
footer {
  background-color: aquamarine;
}
footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4vh 0 4vh 0;
}
footer div p {
  font-size: 2rem;
  font-family: "Girassol", cursive;
  padding-right: 3vw;
}
footer div a {
  margin-left: 1vw;
  text-decoration: none;
  color: rgba(29, 28, 28, 0.808);
  font-size: 2rem;
  padding-left: 3vw;
  font-family: "Girassol", cursive;
}
footer span {
  font-family: "Girassol", cursive;
  padding-left: 1vw;
}

@media only screen and (min-width: 340px) and (max-width: 768px) {
  footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer div p {
    padding-bottom: 2vh;
    font-size: 1.5rem;
  }
  footer div a {
    padding-top: 2vh;
    font-size: 1.5rem;
  }
  footer span {
    font-family: "Girassol", cursive;
    padding-left: 2vw;
  }
}

/*# sourceMappingURL=styles.css.map */
