footer{
    background-color: aquamarine;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4vh 0 4vh 0;
        p{
            font-size: $fontsize2 ;
            font-family: $font2;
            padding-right: 3vw;
        }
        a{
            margin-left: 1vw;
            text-decoration: none;
            color: $fontcolor1;
            font-size: $fontsize2 ;
            padding-left: 3vw;
            font-family: $font2;
            
        }
    }
    span{
        font-family: $font2;
        padding-left: 1vw;
    }
}
@media only screen and (min-width: 340px) and (max-width: 768px) {
footer{


    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            padding-bottom: 2vh;
            font-size: $fontsize1 + $fontsize4 ;
        }
        a{
            padding-top: 2vh;
            font-size: $fontsize1 + $fontsize4 ;
        }

    }
    span{
        font-family: $font2;
        padding-left: 2vw;
    }
}
}