@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Girassol&family=Oswald:wght@300&family=Roboto&display=swap');
$fontcolor1: rgba(29, 28, 28, 0.808);
$fontcolor2: white;
$fontsize1: 1rem;
$fontsize2: 2rem;
$fontsize3: 3rem;
$fontsize4: 0.5rem;
$background: aquamarine;
$background1: linear-gradient(360deg,
                rgba(177, 255, 250, 0.5) 0%,
                #adecfa);
$background2: linear-gradient(360deg,
                aquamarine 0%,
                rgba(9, 218, 204, 0.5));
$background3: linear-gradient(360deg,
rgba(9, 218, 204, 0.5) 0%,
aquamarine);
$color1: red;
$color2: rgb(38, 166, 209);
$font2: 'Girassol', cursive;
$font4: 'Roboto', sans-serif;